   .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{ 
     height:100vh;
     width:100%;
     max-width: 375px;
     margin: 0 auto;}
.wrapper { width:100%;
           margin: 0 auto;
           padding:5px;
           background-color: #FFFFFF ; } 
.Part_1{ background: linear-gradient(to top,hsl(241, 81%, 54%), hsl(252, 100%, 67%)); 
         border-radius: 10%;
         color:hsl(0, 0%, 100%);
         text-align:center; 
         padding:10%;
       }  
.part_1 div{ 
              margin: 0 auto;
              border-radius:50%;
              width:150px;
              height:150px;
              text-align: center; 
              justify-content: center;
              display: flex;
              gap:2px;
              flex-direction: column;
              background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)  );
            }  
.part_1 div h1 {font-size:50px;
                 line-height: 1px;}  
.part_2{ text-align: center;
         margin:0 auto;
         display: flex;
         flex-direction:column;
         gap: 10px;         }
.part_2 div{ 
          font-weight:bold;
	      text-align:center;
	      display: flex;
	      flex-direction: row;
          justify-content: space-between; 
          width:100%;
          height:50px; 
          border-radius: 10px;
          align-items: center;}       
.part_2 > div:nth-of-type(1){ color: hsl(0, 100%, 67%); background-color:#FFF6F7 ;}
.part_2 > div:nth-of-type(2){ color: hsl(39, 100%, 56%); background-color:  #FFFAF4;}
.part_2 > div:nth-of-type(3){ color: hsl(166, 100%, 37%); background-color: #F2FDF9 ;}
.part_2 > div:nth-of-type(4){ color: hsl(234, 85%, 45%);  background-color:hsl(241, 100%, 89%) ;}
button{ background-color:hsl(224, 30%, 27%);
         height:50px;
         border-radius: 15px; 
         color: #F9FFFF ;  
         font-size: 20px; }
.span1{color:hsl(224, 30%, 27%)  ; }
.span2{color:#8E929E;}

@media only screen and (min-width:557px){
	body{max-width: 1440px;}
	.wrapper{ padding: 20px;
              width: 80%;
             display:flex;
             gap: 20px;
          lex-direction:row;
           justify-content:flex-start;}	
.part_1, .part_2{
	            padding:0;
	            margin:0 auto ;
               width: 48%;
                text-align: left;}
.part_2 {flex-direction:column;} 
.part_1, h2, p { text-align: center;}

} 
